html{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
body{
    margin: 0;
    overflow-x: hidden;
}
*,*:before, *:after{
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
}

.button-container{
    position: relative;
    margin: 0 auto;
    margin-top: 50px;
    width: 20vw;
    min-width: 150px;
    display: flex;
    flex-direction: column;
}

.speaker-holder{
    display: flex;
    flex-direction: column;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;   
}
.speaker{
    background-color: #2d2d2d;
    padding: 15px 30px;
    color: whitesmoke;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 25px;
    margin: 10px 0;
}
.speaker-cancel{
    cursor: pointer;
    padding: 15px 30px;
    border: 1px solid transparent;
    border-radius: 25px;
    margin: 10px 0;
    background-color: salmon;
    color: #2d2d2d;
}
.speaker:focus{
    outline: none;
}